### Maven ###
target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/timing.properties

### Build ###
build/
out/

### Logs ###
**/logs/
*.log
*.out

### JVM ###
hs_err_pid*
replay_pid*

### Spring Boot ###
application-local.properties
application-*.yml
application-*.yaml

### Temporary files ###
*.tmp
*.bak
*.swp
*.lock

### OS ###
# Windows
Thumbs.db
$RECYCLE.BIN/
Desktop.ini

# macOS
.DS_Store

### IntelliJ IDEA ###
.idea/
*.iml
*.iws
*.ipr

### Eclipse ###
.project
.classpath
.settings/
.apt_generated/
.factorypath
.springBeans
.sts4-cache

### VS Code ###
.vscode/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### Package managers ###
node_modules/
package-lock.json
yarn.lock

### Gradle (in case project contains gradle wrapper) ###
.gradle/
gradle-app.setting
!gradle-wrapper.jar

### Docker ###
/docker/
*.pid

### Git ###
.gitignore~
